{
	"port": 8001,
	"repositories":
	[{
		"url": "https://github.com/logsol/Test-Repo",
		"path": "/home/logsol/projects/Test-Repo",
		"deploy": "echo deploying"
		"newrelic": {
			"api": "da39a3ee5e6b4b0d3255bfef95601890afd80709"
			"app_id": "1234567",
			"description": "Github Auto Deploy"
		}
	},
	{
		"url": "https://github.com/logsol/Katharsis-Framework",
		"path": "/home/logsol/projects/Katharsis-Framework",
		"ref": "refs/heads/deploy",
	}]
}
